.outlined-button {
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.outlined-button:hover {
  background-color: #000;
  color: white;
}

.outlined-button:active {
  background-color: gray;
  color: white;
  border-color: gray;
}